<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--Change MinBytes, MaxBytes, MinThreads, MaxThreads params may calculate perfomance work unstable
    its using for searching optimal value CountBytesOneTimeRead-->
  <!--CalculateMinimum set 1 programm will automaticly calculate optimal minimum threads count and 
  bytes size to 0.1% of file size if 0.1% > current MinBytes-->
  <appSettings>
    <add key="CountBytesOneTimeRead" value="1048576"/>
    <add key="CountThreads" value="4"/>
    <add key="MinBytes" value="1024"/>
    <add key="MaxBytes" value="16777216"/>
    <add key="MinThreads" value="4"/>
    <add key="MaxThreads" value="8"/>
    <add key="CalculateMinimum" value="1"/>
  </appSettings>
</configuration>